body {
    padding: 0px;
    margin: 0px;
}

/* Design de la NavBar */
#navbar {
    position: relative;
    background-color: #084277;
    color: white;
}
#navbar > * {
    display: inline-block;
    padding: 10px 7px;
    margin: 0px;
}
#navbar > div {
    border-left: 1px solid white;
}
#navbar > div:hover {
    background-color: #052748;
    cursor: pointer;
}

